.header
  %p.my-name Shuntaro Futemma
.main-container
  
  
  .title-tag#profile
    profile
  .under-container#profileContainer
    .profile-wrapper
      = image_tag "face-image.jpg", class: "face-image"
      .profile-content
        1993年生まれ 埼玉県出身
        %br 専門学校 東京デザイナー学院 工業デザイン専攻 2016年卒業。卒業後、１年間ハウスメーカーで営業職を経験。その後、オーストラリアにて豚骨ラーメン店のマネージャーとして新店舗の立ち上げ・第二店舗の出店企画から参画し行列店を作る。様々な人と出会う中で、ITの分野に興味を持ちプログラミングを学ぶことを決意し帰国。テックキャンプ渋谷校を卒業し現在に至る。
  
  
  .title-tag#works
    works
  .under-container#worksContainer
    %ul.slider
      %li
        .each-work
          = image_tag "uemura.jpg",class: "work-image"
          .description
            %h3 もつ焼き屋 ホームページ
            %h5
              ＜ 主な機能 ＞
              %br 注文受注機能、在庫管理、管理者機能、レスポンシブ対応
            %h5
              ＜ 言語 ＞
              %br Ruby on Rails, jQuery, Haml, Sass
            %h5
              ＜ 使用した技術 ＞
              %br line-bot-api、active_hash、heroku
            %h5
              ＜ HP URL ＞
              = link_to "https://uemura.herokuapp.com/" do
                %br https://uemura.herokuapp.com/

      %li
        .each-work
          = image_tag "healthy-life.png",class: "work-image"
          .description
            %h3 栄養管理アプリケーション
            %h5
              ＜ 主な機能 ＞
              %br ユーザー管理、レシピ投稿・編集、コメント、いいね、検索、タグ付け、BMI管理、レスポンシブ対応
            %h5
              ＜ 言語 ＞
              %br Laravel、jQuery、HTML、CSS
            %h5
              ＜ 使用した技術 ＞
              %br AWS(ECS,ECR,S3,RDS)、Docker、chart.js、Vue.js
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/healthy-life" do
                %br https://github.com/Shuntaro11/healthy-life
            %h5
              ＜ アプリケーション URL ＞
              = link_to "http://healthylife-app.site/" do
                %br http://healthylife-app.site/
     

      %li
        .each-work
          = image_tag "sns-app.jpg",class: "work-image"
          .description
            %h3 SNSアプリケーション
            %h5
              ＜ 主な機能 ＞
              %br ユーザー管理、フォロー・フォロワー、メッセージ自動更新機能、メッセージ非同期通信、グループ機能、フレンド検索、テスト、自動デプロイ
            %h5
              ＜ 言語 ＞
              %br Ruby on Rails、jQuery、Haml、Sass
            %h5
              ＜ 使用した技術 ＞
              %br rspec、heroku、Rubocop、CircleCI、carrierwave
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/line-sample" do
                %br https://github.com/Shuntaro11/line-sample
            %h5
              ＜ アプリケーション URL ＞
              = link_to "https://timesns.herokuapp.com/" do
                %br https://timesns.herokuapp.com/

      
      %li
        .each-work
          = image_tag "blackjack.png",class: "work-image"
          .description
            %h3
              ブラックジャック
              %h5.no-margin Black Jack
            %h5
              ＜ 主な機能 ＞
              %br 効果音、ベット機能
            %h5
              ＜ 言語 ＞
              %br javascript、HTML、CSS
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/BlackJack" do
                %br https://github.com/Shuntaro11/BlackJack

      %li
        .each-work  
          = image_tag "memorygame.png",class: "work-image"
          .description
            %h3
              神経衰弱 
              %h5.no-margin Memory Game
            %h5
              ＜ 主な機能 ＞
              %br 効果音、手数カウンター
            %h5
              ＜ 言語 ＞
              %br javascript、HTML、CSS
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/MemoryGame" do
                %br https://github.com/Shuntaro11/MemoryGame
      %li
        .each-work
          = image_tag "furimademo1.jpg",class: "work-image"
          .description
            %h3
              フリマサイト
            %h5.no-margin 学内カリキュラム(チーム開発)
            %h5
              ＜ 主な機能 ＞
              %br ユーザー管理、商品投稿、検索、単体テスト、統合テスト、Capistranoを使っての自動デプロイ
            %h5
              ＜ 言語 ＞
              %br Ruby on Rails、jQuery、Haml、Sass
            %h5
              ＜ 使用した技術 ＞
              %br AWS(EC2,S3)、ancestry、carrierwave、payjp
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/the-furima" do
                %br https://github.com/Shuntaro11/the-furima
            
      %li
        .each-work
          = image_tag "chatdemo1.png",class: "work-image"
          .description
            %h3
              チャットアプリ
            %h5.no-margin テックキャンプカリキュラム(個人開発)
            %h5
              ＜ 主な機能 ＞
              %br ユーザー管理、メッセージ自動更新機能、メッセージ非同期通信、ユーザー検索、単体テスト、統合テスト、ユーザーのインクリメンタルサーチ、Capistranoを使っての自動デプロイ
            %h5
              ＜ 言語 ＞
              %br Ruby on Rails、jQuery、Haml、Sass
            %h5
              ＜ 使用した技術 ＞
              %br AWS(EC2,S3)、carrierwave
            %h5
              ＜ Git URL ＞
              = link_to "https://github.com/Shuntaro11/chat-space" do
                %br https://github.com/Shuntaro11/chat-space


  .title-tag#skills
    skills
  .under-container#skillsContainer
    %ul
      %li.skill-list
        %p Ruby / Ruby on rails
      %li.skill-list
        %p PHP / Laravel
      %li.skill-list
        %p HTML / CSS
      %li.skill-list
        %p JavaScript / jQuery 
      %li.skill-list
        %p SQL, Docker, CircleCI, AWS, Heroku 
      %li.skill-list
        %p English

  .title-tag#contact
    contact
  .under-container#contactContainer
    .adress-box
      %i.fas.fa-envelope
      %p shun.sea.f@gmail.com
    .under-bar
      = link_to "https://twitter.com/shun_fute" do
        .contact-box.link
          %i.fab.fa-twitter
      = link_to "https://github.com/Shuntaro11" do
        .contact-box.link
          %i.fab.fa-github

