!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyPortfolio
    = favicon_link_tag 'book1.png'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    = javascript_include_tag 'application'
    %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Anton|Bowlby+One+SC|Crimson+Text|Fugaz+One|Pacifico|Permanent+Marker|Roboto+Condensed:700|Russo+One&display=swap", :rel => "stylesheet"}/
  %body
    = yield
